@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #0A1C30;
    --secondary-color: #333333;
    --tertiary-color: #FF6B00;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main{
  flex: 1;
}

footer{
  flex-grow: 0;
}

.custom-container{
  width: 90%;
  margin: 0 auto;
}

header{
    padding: 10px 0;
    color: var(--primary-color);
}

.service-card{
    margin: 10px 15px;
    padding: 15px;
}
.service-card button{
    padding: 10px 5px;
}

button{
    cursor: pointer;
}
